.dice {
    font-size: 10px;
    /* Base size for scale factor 1 */
    width: 4em;
    height: 4em;
    background: white;
    border: 0.1em solid #ccc;
    border-radius: 0.8em;
    position: relative;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-shrink: 0;
}

.dice.small {
    font-size: 7px;
    /* ~28px */
}

.dice.medium {
    font-size: 10px;
    /* 40px */
}

.dice.large {
    font-size: 20px;
    /* 80px */
}

.dot {
    width: 0.8em;
    height: 0.8em;
    background: #333;
    border-radius: 50%;
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    top: 0.8em;
    left: 0.8em;
}

.top-right {
    top: 0.8em;
    right: 0.8em;
}

.bottom-left {
    bottom: 0.8em;
    left: 0.8em;
}

.bottom-right {
    bottom: 0.8em;
    right: 0.8em;
}

.middle-left {
    top: 50%;
    left: 0.8em;
    transform: translateY(-50%);
}

.middle-right {
    top: 50%;
    right: 0.8em;
    transform: translateY(-50%);
}